@font-face {
  font-family: "Avengero";
  src: url("/src/assets/fonts/AvengeroDisassembledRegular-nRvd4.ttf");
}

.clik {
  display: flex;
  justify-content: center;
  margin-top: -190px;
}

.sign {
  position: absolute;
  top: 10%;
  left: 27%;
  transform: translate(-50%, -100%);
  font-size: 22px;
  font-family: "Avengero", sans-serif;
  color: rgb(176, 35, 247);
  filter: saturate(170%);
}

span {
  position: absolute;
  top: 10%;
  left: 27%;
  transform: translate(-50%, 30%);
  font-size: 22px;
  font-family: "Avengero", sans-serif;
  color: rgb(176, 35, 247);
  filter: saturate(170%);
}

.buttons-container {
  display: grid;
  justify-content: flex-end;
  margin-right: 90px;
}

.buttons-container input {
  width: 217px;
  transition: 0.2s;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.toggleButton {
  width: 130px;
  background-color: transparent;
  border: none;
  transition: 0.2s;
  margin-top: -740px;
  position: absolute;
}

.toggleButton:active {
  transform: scale(0.9);
}

.toggleButton img {
  max-width: 100%;
  max-height: 100%;
}

.buttons-container-arm {
  display: grid;
  grid-template-columns: repeat(2, 18%); /* Два столбца по 8% ширины */
  grid-gap: 12px; /* Расстояние между кнопками */
  margin-top: -450px;
}

.buttons-container-arm input[type="image"] {
  width: 57%;
  height: auto;
  margin: 10px;
  margin-right: 50px;
}





